.mr-1 {
    margin-top:2.3em;
    margin-left: 1em;
    width: 60vw;
    height: auto;
    float: center;
    border-radius: .5em;
  }

  .media-body{
    background-color: beige;
    width:90vw;

   
  }

  
h2 {
    font-family: var(--font11);
    color: whitesmoke;
  }
  
  p {
    color: black;
  
  }
  
  span {
    width: 5em;
  }
  
  .imgskills {
    font-size: em;
    color: black;
  }
  
  b {
    color: black;
    font-family: var(--font4);
  }
  
  span {
    color: black;
  }
  
  a {
    text-align: center;
  
  }
  
  a:hover {
    background-color: lavender;
  }
  