.mr-1 {
    margin-top:2.3em;
    margin-left: 1em;
    width: 60vw;
    height: auto;
    float: center;
    border-radius: .5em;
  }

  .media-body{
    background-color: beige;
    width:90vw;

   
  }

  h2{
    font-family: 'Nothing You Could Do';

    color: black;
  }
  h3{
    font-family: 'Nothing You Could Do', cursive;

  }
h1{
  font-family: 'Cinzel Decorative', cursive;

   color: whitesmoke;
  }
  
  p {
    font-family: 'Nothing You Could Do';
    color: black;
  
  }
  
  span {
    width: 5em;
  }
  
  .imgskills {
    color: black;
  }
  


  
  a {
    text-align: center;
  
  }
  
  a:hover {
    background-color: lavender;
  }
  