

/* about me and pic of me*/

.about {
  height: 80vh;
  width: 95vw;
}

  .carousel{ 
    display:block;

   
  }
  .carousel-inner{ 
border-radius: 1em;
   
  }
 
    a {
    text-align: center;
  
  }
  
  a:hover {
    background-color: lavender;
  }
  