
body {
    background: whitesmoke;
   
}

/* middle icons js/css/html Loves underneath*/

.skills {
    float:center;
    margin-top:2em;
    display: inline-flex;
    list-style: none;
}


.imgSkills{
    width: 8.5vw;
    height: auto;
}


/* about me and pic of me*/

#about{ 
    float: center;
    margin-left: -2.5em;
}

h1{
    display: inline-flex;
    font-size: 6vh;
}
