
/* middle icons js/css/html Loves underneath*/

.skillsList {
    float:center;
    margin-top:2em;
    display: inline-flex;
    list-style: none;
}


.imgSkills{
    width: 10vw;
    height: auto;
}


/* about me and pic of me*/

h1{
    display: inline-flex;
    font-size: 6vh;
}
