
h1{
    font-family: 'Warnes', cursive;
    display: inline-flex;
    font-size: 5vh;
  }

  h2{
font-family: 'Poiret One', cursive;

    color: black;
  }
  h3{
font-family: 'Poiret One', cursive;



  }
  h4 {
font-family: 'Poiret One', cursive;
    text-align: center;
  }

  p {
    font-family: 'Poiret One', cursive;
    
        color: black;
      
      }
      