input {
  font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    width: auto;
  }
  
  label {
    color: white;
font-family: 'Poiret One', cursive, Impact;
    
  }
  button {
    color: whitesmoke;
  }
  
  /* Desktop PC & Responsive */
  .contactBox {
font-family: 'Poiret One', cursive;
    margin: auto;
    width: 90vh;
    top: 15vh;
    text-align: center;
  }
  
  .conactBackground{
    background-image: url("..//assets/img/pexels-photo-1029612.jpeg");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  /* Ipad Pro COMPLETE */
  @media screen and (max-width: 1024px) {
    .contactBox {
      margin: auto;
      width: 45vh;
      text-align: center;
    }
  
    .contactBackground {
      background-image: url("..//assets/img/pexels-photo-1029612.jpeg");
      background-attachment: scroll;
      background-size: cover;
      background-position: center;
      height: 60vh;
  }
  }
  
  /* Ipad COMPLETE */
  @media screen and (max-width: 769px) and (min-width: 576px)  {
    .contactBox {
      margin: auto;
      width: 55vh;
      text-align: center;
    }
    .contactBackground {
      background-image: url("..//assets/img/pexels-photo-1029612.jpeg");
      background-attachment: scroll;
      background-size: cover;
      background-position: center;
  }
  }
  
  /* Iphone 6/7/8 Plus COMPLETE */
  @media screen and (max-width: 414px) and (min-width: 768px) {
    .contactBox {
      margin: auto;
      width: 43vh;
      top: 20vh;
      text-align: center;
    }
    .contactBackground {
      background-image: url("..//assets/img/pexels-photo-1029612.jpeg");
      background-attachment: scroll;
      background-size: cover;
      background-position: center;
  }
  }
  
  /* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
  @media screen and (max-width: 412px) and (min-width: 992px) {
    .contactBox {
      margin: auto;
      width: 43vh;
      top: 20vh;
      text-align: center;
    }
    .contactBackground{
      background-image: url("..//assets/img/pexels-photo-1029612.jpeg");
      background-attachment: scroll;
      background-size: cover;
      background-position: center;
      height: 110vh;
  }
  }
  
  /* Iphone 5/SE & Galaxy S5 */
  @media screen and (max-width: 375px) and (min-width: 1200px){
    .contactBox {
      margin: auto;
      width: 43vh;
      top: 20vh;
      text-align: center;
    }
    .contactBackground {
      background-image: url("..//assets/img/pexels-photo-1029612.jpeg");
      background-attachment: scroll;
      background-size: cover;
      background-position: center;
  }
  }