.contactBack{
    position: relative;
    height: 25em;
    width: 35em;
    background: url(..//assets/img/img859.jpg);
    background-size: cover;
    border-radius: .5em;
    align-content: center;
    text-shadow: 2px 2px #ffffff;
    
   }

.container {
    display: inline;
}

h2{
    font-size:3em;
}

.form-control {
    position: inherit;
    height: 13em;
    width: 15em;
    border-radius: .5em;
    border: whitesmoke solid 2px;
    color: whitesmoke ;
    border: black solid 2px;

}

#name{  
    position: inherit;
    height: 6vh;
    width: 15em;
    border-radius: .5em;
}

#email { 
    position: inherit;
    height: 6vh;
    width: 15em;
    border-radius: .5em;

}
.wrapper{
font-size: 6em;
    display:flex;
    justify-content:center;
    text-align: center;
}
button {
    padding-bottom: 32px;
    display: inline-block;
    margin-top:.5em;
    height: 5vh;
    line-height: 22px;
    font-size: 7em;
    color: black;
    text-shadow:  2px 2px #ffffff;
}

label {
    margin-left: 1em;
    margin-bottom:-6px;
    text-align: center;
    font-size: 4vh;
    font-style: bold;
}
