@import "variables.css";
@import "body.css";
@import "navbar.css";
@import "header.css";
@import "about.css";
@import "project.css";
@import "contact.css";
@import "styles.css";
@import "footer.css";

/* 
font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Bilbo Swash Caps', cursive;
*/