
.navbar-brand {
  font-family: 'Nothing You Could Do';
margin-left: 4px;
}
.resumeIcon {
    width:auto;
    height:4.5vh;
}

.skillsList {
  float:center;
  display: inline-flex;
  list-style: none;
}



.imgSkills{
  width: 3vw;
  height: auto;
  color: black;

}

