.dropdown-menu {
    background-color: whitesmoke;
  }
  
  .dropdown-item {
    color: whitesmoke;
    display: block;
  }
  
  .navbar-fixed{
    background-color: black;
    transition: 200ms linear;
  }

.resumeIcon {
    margin-top:-.5em;
    width:auto;
    height:8vh;
}
a {
    margin-top:.4em;
    padding:.1em;
}

