
.navbar-brand {
  font-family: 'Nothing You Could Do';
margin-left: 4px;
}
.resumeIcon {
    width:auto;
    height:4.5vh;
}

.skillsList {
  float:center;
  display: inline-flex;
  list-style: none;
  margin-right:12em;

}



.imgSkills{
  width: 3vw;
  margin-right:12em;

  height: auto;
  color: white;

}

